.App {
    display: flex;
}

aside {
    height: 100vh;
    float: left;
    width: 300px;
    background: white;
}

.container {
    padding: 30px 15px;
    box-sizing: border-box;
}

.NotesContainer {
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #6b6eff;
    transition: background 0.2s;
}

.add-note {
    font-size: 1em;
    width: 100%;
    padding: 8px;
    margin: 10px 2px 2px 2px;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
    background: rgb(255 255 255 / 20%);

    display: flex;
    align-items: center;
}

.add-note input[type="text"] {
    outline: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    background: transparent;
    border: none;
    color: inherit;
    width: 100%;
}

.add-note input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.51);
}

.clickable {
    border-radius: 6px;
}

.clickable:hover {
    background: rgba(255, 255, 255, 0.35);
}

.Note {
    padding: 8px;
    margin: 2px;
    display: flex;
    align-items: center;
    background: rgb(255 255 255 / 20%);
    color: white;
    word-break: break-word;
}

.Note .complete {
    text-decoration: line-through;
}

.NotesList {
    overflow-y: overlay;
    flex-grow: 1;
    position: relative;
}

.LeftSideItem {
    font-size: 1.2em;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
    transition: background 0.2s;
    color: var(--color)
}

.LeftSideItem.active {
    background: var(--color-active);
}

.LeftSideItem.active:hover {
    background: var(--color-active-hover);
}

.LeftSideItem:hover {
    background: rgb(0 0 0 / 4%);
}

.Note svg, .add-note svg {
    margin: 5px;
    vertical-align: middle;
}

.app-header {
    font-weight: 300;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 12px;
}
